/* Estilo general para el contenedor */
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
}

/* Estilo para el header donde va el logo */
.header {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}

/* Estilo para el logo */
.logo-container {
    text-align: left;
    margin-bottom: 20px;
}

.logo {
    width: 150px;
    height: auto;
}

/* Estilo para el formulario */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agrega la sombra para darle profundidad */
    border-radius: 8px; /* Bordes redondeados */
    margin-top: 20px;
    max-width: 400px;
    width: 100%;
}

input {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    font-size: 16px;
}

/* Agregamos un fondo claro para dar contraste */
body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
